<IfModule mod_rewrite.c>
# Enable URL rewriting
RewriteEngine On

# Redirect all requests to the public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

# If the requested resource exists in the public folder, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public/(.*)$ public/index.php [QSA,L]

</IfModule>